<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>

<div class="container">
  <div class="leftside">
    <div class="player" *ngFor="let player of footballPlayers; let i = index"

         (click)="setActivePlayer(i)">
      <div class="row">
        <div class="index">{{player.id}}</div>
        {{player.name + ' ' + player.lastName}}
        <div class="delete"><button (click)="deleteFootballPlayer($event, i)">Удалить</button></div>
        <div class="update"><button (click)="changeEditMode($event, i)">Редактировать</button></div>
      </div>
    </div>
  </div>
  <div class="rightside">
    <div class="collapseInfo" *ngIf="activePlayer !=-1">
      <div class="info" *ngIf="!editMode">
        <p>Имя: {{ footballPlayers[activePlayer].name}}</p>
        <p>Фамилия: {{footballPlayers[activePlayer].lastName}}</p>
        <p>Пол: {{footballPlayers[activePlayer].gender}}</p>
        <p>Дата рождения: {{footballPlayers[activePlayer].dateOfBirth | date:'mediumDate'}}</p>
        <p>Страна: {{footballPlayers[activePlayer].country}}</p>
        <p>Команда: {{footballPlayers[activePlayer].teamName}}</p>
      </div>
      <div class="collapseEditInfo" *ngIf="editMode && activePlayer!=-1">
        <div class="redact">
          <div class="input-fields" [formGroup]="playerFormGroup">
            <label>Имя</label>
            <p><input type="text" size="40" formControlName="name"></p>
            <label>Фамилия</label>
            <p><input type="text" size="40" formControlName="lastName" ></p>
            <label>Пол</label>
            <p><select formControlName="gender">
              <option value="null" disabled>Выберите пол:</option>
              <option *ngFor="let gender of genders">{{gender}}</option>
            </select></p>
            <label>Дата рождения</label>
            <p><input type="date" size="40" formControlName="dateOfBirth"></p>
            <label>Страна</label>
            <p><select formControlName="country">
              <option value="null" disabled>Выберите страну:</option>
              <option *ngFor="let country of countries">{{country}}</option>
            </select></p>
            <label>Команда</label>
            <p><input list="teamName" size="40" formControlName="teamName" >
              <datalist id="teamName">
                <option *ngFor="let team of teams" [value]="team.name"></option>
              </datalist>
            </p>
            <p>
              <button (click)="updateFootballPlayer($event, footballPlayers[activePlayer].id)">Редактировать</button>
              <button (click)="changeEditMode($event, footballPlayers[activePlayer].id)">Отмена</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
