.title{
  width: 100%;
  padding: 5px 30px;
  margin: 0 auto;
}


h1 {
  color: #640505;
  font-family: Impact, sans-serif;
  font-size: 200%;
  text-align: center;
  padding-top: 50px;
}
.input-fields{
  color: #640505;
  font-family: Impact, sans-serif;
  text-align: center;
  font-size: 130%;
}
select{
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
button{
  margin-top: 20px;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
